.main-container {
  display: flex;
  flex-direction: column;
}

.page-main {
  display: flex;
  flex-direction: column;
}

.login-wrapper {
  display: flex;
  margin-left: auto; /* 우측 정렬*/
  margin-top: 10px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: auto; /* 좌측 정렬*/
  margin-top: 10px;
  margin-left: 10px;
}

.route {
  flex-grow: 1;
}
